HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# Thêm vào cuối tệp .gitignore của bạn

demo/src/main/resources/application.properties
demo/src/main/resources/google-speech-key.json
# Hoặc một file riêng cho secrets:
# secrets.properties

# Có thể thêm các mẫu tổng quát hơn nếu cần
# *.pem
# *.key